*{
    margin: 0;
    padding: 0;
}

html{
    width: 100%;
    background: #ffffff;
}

body{
    max-width: 640px;
    position: relative;
    margin: 0 auto;
    font-size: 16px;
}

header, footer{
    width: 100%;
    background: #000000;
    color: green;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    font-size: 2rem;
}

footer{
    position: fixed;
    /*!*相对于浏览器窗口绝对定位*!*/
    bottom: 0;
    left: 0;
    z-index: 1000;
}

footer ul{
    list-style: none;
    width: 100%;
    zoom: 1;
    height: 3rem;
}

footer ul:after{
    /*:after 在被选元素的内容后面插入内容。*/
    display: block;
    content: '';
    clear: both;
    /*clear属性规定元素的哪一侧不允许其他浮动元素。*/
}

footer ul li {
    float:left;
    width: 33%;
    text-align: center;
}

footer ul li a {
    color: green;
    text-decoration: none;
    /*上面这个去掉下滑线*/
}

.base-content {
    width: 100%;
    zoom: 1;
    /* zoom属性元素放大*/
}

.base-content:after{
    display: block;
    content: '';
    clear: both;
}